---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contact Us" id="contact">
  <p class="text-center">
    Please reach out to <a
      class="relative text-primary"
      href="mailto:ben@climatedads.org"
    >
      ben@climatedads.org
    </a>
     with any inquiries.
  </p>
</ContentSection>
