---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Resources" id="resources">
  <p class="w-[80%] text-center">Check out these excellent resources.</p>
</ContentSection>
